.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:150px auto;
    background-color: whitesmoke;
    width: 350px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px -2px rgba(0,0,0,0.75);
}
.login > h1{
    font-size: 20px;
    color: gray;
    margin: 10px auto;
    text-transform: uppercase;
}
.login__button{
    background-color: var(--twitter-color) !important;
    padding: 10px 15px !important;
    color: var(--twitter-background) !important;
    margin-top:20px !important;
}

.login__button:hover{
    background-color: var(--twitter-background) !important;
    color: var(--twitter-color) !important;
}