.sidbarOption{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.sidbarOption:hover{
    background-color: #e8f5fe;
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}
.sidbarOption > .MuiSvgIcon-root {
    padding: 20px;
}
.sidebarOption__active{
    color: var(--twitter-color);
}

.sidbarOption > h2{
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}
